<template>
  <div>
    <GmapMap
      @center_changed="handleMapsListeners"
      id="address-map"
      :center="center"
      :zoom="20"
      map-type-id="satellite"
      ref="mapRef"
    >
      <GmapMarker :position="center" />
    </GmapMap>
    <div
      class="centerMarker"
      @click="handleMarkerClick"
      ref="centerMarker"
    ></div>
  </div>
</template>

<script>
import { gmapApi } from "vue2-google-maps";
export default {
  data() {
    return {
      map: null,
      center: { lat: 19.322144, lng: -99.141769 },
      latitude: null,
      longitude: null
    };
  },
  async mounted() {
    const map = await this.$refs.mapRef.$mapPromise;
    this.map = map;
    this.map.getDiv().appendChild(this.$refs.centerMarker);
    this.handleMapsListeners();
  },
  methods: {
    handleMapsListeners() {
      this.latitude = this.map.getCenter().lat();
      this.longitude = this.map.getCenter().lng();
    },
    handleMarkerClick(ev) {
      var that = ev.currentTarget;
      if (!that.dataset.win) {
        that.dataset(
          "win",
          new gmapApi.maps.InfoWindow({
            content: "this is the center"
          })
        );
        that.dataset.win.bindTo("position", this.map, "center");
      }
      that.dataset.win.open(this.map);
    }
  }
};
</script>

<style scoped lang="scss">
#address-map {
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 1rem;

  .centerMarker {
    position: absolute;
    /*url of the marker*/
    background: url(../../assets/marker.png) no-repeat;
    /*center the marker*/
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    z-index: 1;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
}
</style>
