<template>
  <div class="el-input">
    <GmapAutocomplete
      class="el-input__inner"
      value="Calle Cuauhtemoc 32, San Pablo Tepetlapa, 04620 Ciudad de México, CDMX"
    />
  </div>
</template>

<script>
// import VueGoogleAutocomplete from "vue-google-autocomplete";
export default {
  components: {
    // VueGoogleAutocomplete
  },
  methods: {
    getAddressData(address, place) {
      console.log(address, place);
    }
  }
};
</script>
