<template>
  <div>
    <el-breadcrumb separator="/">
      <el-breadcrumb-item>
        <router-link :to="{ name: 'client' }">Clientes</router-link>
      </el-breadcrumb-item>
      <el-breadcrumb-item>Referencias</el-breadcrumb-item>
    </el-breadcrumb>
    <h1>Referencias</h1>
    <p>{{ clientId }}</p>
  </div>
</template>

<script>
export default {
  computed: {
    clientId() {
      // We will see what `params` is shortly
      return this.$route.params.id;
    }
  }
};
</script>
