<template>
  <el-row type="flex" justify="center">
    <el-col :md="16">
      <h2>Editar Cliente</h2>
      <el-form ref="form" :model="client">
        <el-form-item label="Nombre">
          <el-input v-model="client.name"></el-input>
        </el-form-item>
        <el-form-item label="Apellido Paterno">
          <el-input v-model="client.paternal_name"></el-input>
        </el-form-item>
        <el-form-item label="Apellido Materno">
          <el-input v-model="client.maternal_name"></el-input>
        </el-form-item>
        <el-form-item label="Dirección">
          <autocomplete-input></autocomplete-input>
          <address-map></address-map>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">Guardar</el-button>
        </el-form-item>
      </el-form>
    </el-col>
  </el-row>
</template>
<script>
import AutocompleteInput from "./AutocompleteInput";
import AddressMap from "./AddressMap";

export default {
  name: "ClientForm",
  props: {
    client: {
      default: function() {
        return {};
      }
    }
  },
  components: {
    AutocompleteInput,
    AddressMap
  },
  methods: {
    onSubmit() {
      console.log("submit!", this.form);
      this.$router.push({ name: "client" });
    }
  }
};
</script>
