<template>
  <el-row type="flex" justify="center">
    <el-col :md="20">
      <el-card class="box-card">
        <el-table :data="clients" style="width: 100%">
          <el-table-column prop="name" label="Nombre"></el-table-column>
          <el-table-column
            prop="paternal_name"
            label="Apellido Paterno"
          ></el-table-column>
          <el-table-column
            prop="maternal_name"
            label="Apellido Materno"
          ></el-table-column>
          <el-table-column label="Acciones">
            <template slot-scope="scope">
              <el-button
                type="default"
                :data-id="scope.row.id"
                @click="handleClickEdit(scope.row)"
                >Editar</el-button
              >
              <el-button
                type="danger"
                :data-id="scope.row.id"
                @click="handleClickReference"
                >Referencias</el-button
              >
            </template>
          </el-table-column>
        </el-table>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>
export default {
  props: ["clients"],
  data() {
    return {
      clientToEdit: null
    };
  },
  methods: {
    handleClickEdit(client) {
      console.log(client);
      this.clientToEdit = client;
      this.$emit("clientToEdit", client);
    },
    handleClickReference(el) {
      const id = el.currentTarget.dataset.id;
      this.$router.push({ name: "client-references", params: { id: id } });
    }
  }
};
</script>
