<template>
  <div id="clients">
    <h1>Información de Clientes</h1>
    <clients-table
      :clients="clients"
      @clientToEdit="handleClientToEdit"
    ></clients-table>
    <router-view :client="selectedClient"></router-view>
  </div>
</template>

<script>
import Axios from "axios";
import ClientsTable from "../components/clients/ClientsTable";

const API_URL = process.env.VUE_APP_API_URL;

export default {
  name: "Clients",
  components: {
    ClientsTable
  },
  async created() {
    const clients = await Axios({
      method: "get",
      url: `${API_URL}/clients`
    });

    this.clients = clients;
  },
  methods: {
    handleClientToEdit(client) {
      this.selectedClient = client;
      this.$router.push({ name: "client-edit" });
    }
  },
  data() {
    return {
      selectedClient: null,
      clients: [
        {
          id: 1,
          name: "Juan",
          paternal_name: "Navarrete",
          maternal_name: "Gordillo",
          curp: "92asdasd",
          calle: "asdasd",
          num_exterior: 123,
          num_interior: 123,
          colonia: "asdasd",
          municipio: "asdasd",
          ciudad: "asdasd",
          cp: 12312,
          estado: "asdasd",
          pais: "asdasdasd",
          entre_calles_1: "asdasda",
          entre_calles_2: "asdasda",
          referencias: "asdasda",
          address_lat: 12.123123123,
          address_lng: 12.23423423,
          ref_lat: 12.23423423,
          ref_lng: 12.23423423
        },
        {
          id: 2,
          name: "Francico",
          paternal_name: "Trinidad",
          maternal_name: "Cruz",
          curp: "92asdasd",
          calle: "asdasd",
          num_exterior: 123,
          num_interior: 123,
          colonia: "asdasd",
          municipio: "asdasd",
          ciudad: "asdasd",
          cp: 12312,
          estado: "asdasd",
          pais: "asdasdasd",
          entre_calles_1: "asdasda",
          entre_calles_2: "asdasda",
          referencias: "asdasda",
          address_lat: 12.123123123,
          address_lng: 12.23423423,
          ref_lat: 12.23423423,
          ref_lng: 12.23423423
        },
        {
          id: 3,
          name: "Jorge",
          paternal_name: "Martinez",
          maternal_name: "Perez",
          curp: "92asdasd",
          calle: "asdasd",
          num_exterior: 123,
          num_interior: 123,
          colonia: "asdasd",
          municipio: "asdasd",
          ciudad: "asdasd",
          cp: 12312,
          estado: "asdasd",
          pais: "asdasdasd",
          entre_calles_1: "asdasda",
          entre_calles_2: "asdasda",
          referencias: "asdasda",
          address_lat: 12.123123123,
          address_lng: 12.23423423,
          ref_lat: 12.23423423,
          ref_lng: 12.23423423
        },
        {
          id: 4,
          name: "Miguel",
          paternal_name: "Domínguez",
          maternal_name: "Cruz",
          curp: "92asdasd",
          calle: "asdasd",
          num_exterior: 123,
          num_interior: 123,
          colonia: "asdasd",
          municipio: "asdasd",
          ciudad: "asdasd",
          cp: 12312,
          estado: "asdasd",
          pais: "asdasdasd",
          entre_calles_1: "asdasda",
          entre_calles_2: "asdasda",
          referencias: "asdasda",
          address_lat: 12.123123123,
          address_lng: 12.23423423,
          ref_lat: 12.23423423,
          ref_lng: 12.23423423
        },
        {
          id: 5,
          name: "Enrique",
          paternal_name: "Navarro",
          maternal_name: "Jimenez",
          curp: "92asdasd",
          calle: "asdasd",
          num_exterior: 123,
          num_interior: 123,
          colonia: "asdasd",
          municipio: "asdasd",
          ciudad: "asdasd",
          cp: 12312,
          estado: "asdasd",
          pais: "asdasdasd",
          entre_calles_1: "asdasda",
          entre_calles_2: "asdasda",
          referencias: "asdasda",
          address_lat: 12.123123123,
          address_lng: 12.23423423,
          ref_lat: 12.23423423,
          ref_lng: 12.23423423
        }
      ]
    };
  }
};
</script>
