<template>
  <div id="app">
    <navigation></navigation>
    <el-main>
      <router-view></router-view>
    </el-main>
  </div>
</template>

<script>
import Navigation from "./components/global/Navigation";
export default {
  name: "app",
  components: {
    Navigation
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
