<template>
  <el-menu
    mode="horizontal"
    default-active="2"
    background-color="#2eb06e"
    text-color="#fff"
    active-text-color="#fff5f5"
  >
    <el-menu-item index="1" class="logo-item">
      <img class="logo" src="../../assets/banco-azteca-logo.png" alt="logo" />
    </el-menu-item>
    <el-menu-item index="2">
      <router-link :to="{ name: 'client' }">Clientes</router-link>
    </el-menu-item>
    <el-menu-item index="3">
      <router-link :to="{ name: 'new-client' }">Nuevo cliente</router-link>
    </el-menu-item>
  </el-menu>
</template>

<style scoped lang="scss">
.logo-item {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  img.logo {
    position: relative;
    max-width: 120px;
    height: auto;
  }
}
</style>
